services:
  api:
    build: .
    ports:
      - '${PORT}:${PORT}'
    environment:
      - PORT=${PORT}
      - JWT_PRIVATE_KEY=${JWT_PRIVATE_KEY}
      - JWT_PUBLIC_KEY=${JWT_PUBLIC_KEY}
      - DB_USER=${DB_USER}
      - DB_PASSWORD${DB_PASSWORD}
      - DB_NAME${DB_NAME}
      - DATABASE_URL${DATABASE_URL}
      - CLOUD_FLARE_ACCOUNT_ID${CLOUD_FLARE_ACCOUNT_ID}
      - AWS_ACCESS_KEY_ID${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY${AWS_SECRET_ACCESS_KEY}
      - AWS_BUCKET_NAME${AWS_BUCKET_NAME}
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5