name: Scheduled Database Reset
on:
  schedule:
    - cron: '0 */1 * * *'
jobs:
  reset-db:
    runs-on: ubuntu-latest
    steps:
      - name: Execute Reset via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: cd ~/fast-feet && docker compose exec -T api npx prisma db seed
